@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #e5e9d5;
}

/* .logsed {
	box-shadow: 7px 7px 20px 7px rgb(54 58 72 / 47%);
} */
#citizenpicdemo {
	max-height: 15rem;
}
.colmd1 {
	padding-left: 0;
}
.btn-group-vertical a {
	border-style: double;
}
.btn-group-vertical a:hover {
	background-color: rgba(66, 87, 46, 0.438);
}
.dbod {
	border-style: double;
}
